<h4>Hello user {{connectedUser}}</h4>
<div class="message">We think you'd like the following movies:</div>
</br>

<div class="film-list">
  <ul ng-repeat="film in recommendedFilms"> 
    <li>
	    <div class="imgWrap ">
			<img ng-src="{{film.additionalInfo.Poster}}" />
			<div class="imgDescription">
				<h4><strong>{{film.nome}}</strong> </h4>
				<p><h5 class="myLabel">Plot: </h5>{{film.additionalInfo.Plot}}</p>
				<p><h5 class="myLabel">Released on: </h5>{{film.additionalInfo.Released}}</p>
				<p><h5 class="myLabel">Genre: </h5>{{film.additionalInfo.Genre}}</p>
				<p><h5 class="myLabel">Director: </h5>{{film.additionalInfo.Director}}</p>
				<p><h5 class="myLabel">Language: </h5>{{film.additionalInfo.Language}}</p>
				<p><h5 class="myLabel">Awards: </h5>{{film.additionalInfo.Awards}}</p>
			</div>
			
		</div>
    </li>
  </ul>
</div>

